@media(max-width:575px) and (min-width:0) 
{
    .banner-content h1 {
        font-size: 30px;
        color: #fff;
        margin-bottom: 10px;
    }
}
@media(max-width:575px) and (min-width:0) {
    .navbar-nav .nav-item .nav-link {
        margin-left: 0px;
        display: inline-block;
        margin-bottom: 4px;
    }
    .nav-item{
        text-align: center;

    }
}
@media(max-width:646px) and (min-width:0) {
    .navbar-nav .nav-item .nav-link {
        margin-left: 0px;
        display: inline-block;
        margin-bottom: 4px;
    }
    .nav-item{
        text-align: center;

    }
}
@media(max-width:575px) and (min-width:0) {
    .phone-img {
    display: none;
    }
  .banner-content{
      text-align: center;
  }
}
@media(max-width:354px) and (min-width:0){
    .btn-download{

margin-bottom: 14px;

}
    .btn-view {
        
padding: 10px 37px;
        
margin-left: -10px;
    }
}

@media(max-width:646px) and (min-width:0){
    .testimonials-2 {
        height: 150px;
    }
    .client-details{
    margin-left: 30px;
}
}
@media(max-width:646px) and (min-width:0){
    .pricing{
        
margin-bottom: 30px;
    }
}
@media(max-width:646px) and (min-width:0){
    form{

width: 70%;

height: 49%;

margin-bottom: -53px;
}
}
@media(max-width:646px) and (min-width:0){
    .icon-1{

width: -3px;

display: flex;

justify-content: center;

}
    .icon-1 i{

    }
}
@media(max-width:1150px) and (min-width:898px){
    .icon-1{

        width: -3px;
        
        display: flex;
        
        justify-content: center;
        
        }
}
@media(max-width:646px) and (min-width:0){
    .icon-a{

width: 50%;

}
}
@media(max-width: 646px) and (min-width: 0){
    .client-details h4{
    
margin-top: -23px;
    
font-size: 15px;
    }    
    .client-details h3 {

font-size: 9px;

}
    .owl-carousel .owl-item img{
        
width: 100%;
    }
}
